@import url('https://fonts.googleapis.com/css2?family=Lato');


:root{
    --white: #fff;
    --dark1: #5858f5;
    --dark2: #0128b6;
    --dark3: #1B2223;
    --dark4: #3A4F50;
    --dark5: #cbdad5;
    --dark6: #3737b8;
    --cyan1: #0EF6CC;
}

