@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    --white: #fff;
    --purple: #5858f5;
    --blue1: #0128b6;
    --dark1: #1B2223;
    --gray: #3A4F50;
    --blue2: #3737b8;
    --cyan1: #0EF6CC;
}


body{
    background-color: var(--gray);
    height: 100vh;
}

.img-header{
    display: grid;
    place-items: center;
}

.body{
    font-family: 'Lato';
    font-size: 30px;
    display: grid;
    place-items: center;
}

.valor{
    font-family: 'Lato';
    display: grid;
    place-items: center;
}
input[type="text"] {
    width: 300px; /* Defina o valor desejado para a largura */
  }  

.menu1{
    font-family: 'Lato';
    display: grid;
    place-items: center;
    font-size: 20px;
}

select {
    width: 300px; /* Defina o valor desejado para a largura */
  }

.menu2{
    font-family: 'Lato';
    display: grid;
    place-items: center;
    font-size: 20px;
}

.button{
    display: grid;
    place-items: center;
    border-radius: 20px;
    
}

.img-logo{
    display: flex;
    max-width: 220px;
    height: 100%;
    align-items: center;
}



