@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    --white: #f0e0e0;
    --purple: #5858f5;
    --blue1: #000720;
    --dark1: #1B2223;
    --gray: #3A4F50;
    --blue2: #3737b8;
    --cyan1: #00d9ff;
    --blue: #a7b5c2;
    --greenL: #adf8d9;
    --greenD:#0b1a05;
}

#toggle-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#toggle-mode:hover {
    background-color: #555;
}

#toggle-icon {
    margin-right: 5px;
    font-size: 16px;
}

body.light-mode {
    background-color: var(--greenL);
    color: var(--blue1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body.dark-mode {
    background-color: var(--blue1);
    color: var(--greenL);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

body{
    background-color: var(--blue);
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-header{
    display: flex;
}

.img-logo{
    display: flex;
    width: 130px;
    height: auto;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

select {
    width: 20vw; 
    height: 40px;
    border-radius: 8px;
}

.menu{
    font-family: 'Lato';
    display: flex;
    place-items: center;
    font-size: 20px;
    flex-direction: column;
    justify-content: flex-end;
}

.h3-menu {
    display: flex;
    width: 20vw;
    height: auto;
    margin: 15px;
    justify-content: center;
}

.full-body-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-body-2{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 30px;
    justify-content: center;
}

.full-body-3{
    display: flex;
    flex-direction: column;
}

.my-canvas1 { 
    border-radius: 20px;
    background-color: white;
}

.my-canvas2 { 
    border-radius: 20px;
    background-color: white;
}

input{
    font-size: 15px;
    height: 20px;
    width: 19vw;
    border-radius: 8px;
}

#grafico1 {
    width: 60vh;
    height: auto;
    margin-right: 5vw; ;
}

#grafico2 {
    width: 60vh;
    height: auto;
    margin-left: 5vw;
}