@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    --white: #fff;
    --purple: #5858f5;
    --blue1: #0128b6;
    --dark1: #1B2223;
    --gray: #3A4F50;
    --blue2: #3737b8;
    --cyan1: #0EF6CC;
}

#toggle-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#toggle-mode:hover {
    background-color: #555;
}

#toggle-icon {
    margin-right: 5px;
    font-size: 16px;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

body{
    background-color: var(--white);
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-header{
    display: grid;
    place-items: center;
}

.body{
    font-family: 'Lato';
    font-size: 30px;
    display: grid;
    place-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.valor{
    font-family: 'Lato';
    display: grid;
    place-items: center;
    
}
input[type="text"] {
    width: 300px; /* Defina o valor desejado para a largura */
    height: 40px;
    border-radius: 20px;
  }  

.menu1{
    font-family: 'Lato';
    display: grid;
    place-items: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
}

select {
    width: 300px; /* Defina o valor desejado para a largura */
    height: 40px;
    margin: 10px;
    border-radius: 20px;
  }

.menu2{
    font-family: 'Lato';
    display: grid;
    place-items: center;
    font-size: 20px;
}

.convert{
    display: grid;
    place-items: center;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 18px; 
}

.img-logo{
    display: flex;
    max-width: 220px;
    height: 100%;
    align-items: center;
}



